.container {
  padding: 5rem;
}

.add-container {
  display: flex;
  gap: 10rem;
  margin-bottom: 2rem;
}

.category-title {
  margin-bottom: 1rem;
}

.card-row {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}